EnroladorStandAloneV2/Connected Services/EnroladorServicioWeb/EnroladorServicioWeb2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7428/EnroladorServicioWeb.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:7428/EnroladorServicioWeb.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" />
  <xs:element name="IdentificarHardware">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hardwareId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentificarHardwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificarHardwareResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="AutenticacionUsuarioResult" nillable="true" type="q2:POCOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revalidar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="Usuario" nillable="true" type="q3:POCOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevalidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="RevalidarResult" nillable="true" type="q4:POCOUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeHuellasDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeHuellasDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeHuellasDelUsuarioResult" nillable="true" type="q6:ArrayOfPOCOHuella" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeCadenasDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeCadenasDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeCadenasDelUsuarioResult" nillable="true" type="q8:ArrayOfPOCOCadena" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeCargosDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeCargosDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeCargosDelUsuarioResult" nillable="true" type="q10:ArrayOfPOCOCargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeContratosDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeContratosDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeContratosDelUsuarioResult" nillable="true" type="q12:ArrayOfPOCOContrato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeCuentasDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeCuentasDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeCuentasDelUsuarioResult" nillable="true" type="q14:ArrayOfPOCOCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeDispositivoDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeDispositivoDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeDispositivoDelUsuarioResult" nillable="true" type="q16:ArrayOfPOCODispositivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeEmpleadosDispositivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeEmpleadosDispositivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeEmpleadosDispositivosResult" nillable="true" type="q17:ArrayOfPOCOEmpleadoDispositivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeEmpresaDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeEmpresaDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeEmpresaDelUsuarioResult" nillable="true" type="q19:ArrayOfPOCOEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeTodasHuellas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeTodasHuellasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeTodasHuellasResult" nillable="true" type="q20:ArrayOfPOCOHuella" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeInstalacionesDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeInstalacionesDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeInstalacionesDelUsuarioResult" nillable="true" type="q22:ArrayOfPOCOInstalacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeTodosEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeTodosEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeTodosEmpleadosResult" nillable="true" type="q23:ArrayOfPOCOEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeServicioCasinoDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeServicioCasinoDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeServicioCasinoDelUsuarioResult" nillable="true" type="q25:ArrayOfPOCOServicioInstalacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeTurnoServicioDelUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeTurnoServicioDelUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeTurnoServicioDelUsuarioResult" nillable="true" type="q27:ArrayOfPOCOTurnoServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeEmpleadoTurnoServicioCasino">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GuidUsuario" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeeEmpleadoTurnoServicioCasinoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EnroladorAccesoDatos.Dominio" minOccurs="0" name="LeeEmpleadoTurnoServicioCasinoResult" nillable="true" type="q29:ArrayOfPOCOEmpleadoTurnoServicioCasino" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>